/* 顶栏配色 */
.header-wrapper {
    padding: 1em 0;
    -webkit-backdrop-filter: saturate(180%) blur(1em);
    backdrop-filter: saturate(180%) blur(1em);
    background: linear-gradient(90deg, rgba(230, 230, 230, 0.102) 0, rgba(230, 230, 230, 0.102) 15%, rgba(230, 230, 230, 0.102) 30%, rgba(230, 230, 230, 0.102) 44%, rgba(230, 230, 230, 0.102) 58%, rgba(230, 230, 230, 0.102) 72%, rgba(230, 230, 230, 0.102) 86%, rgba(230, 230, 230, 0.102) 100%);
}

.brand {
    font-family: Lato, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #3d3d3d;
}

.nav {
    font-size: 1em;
    margin-top: 0.4em;
}

.home .poetry {
    padding: 12em 1em;
}

.menu-item .icon {
    display: none;
}


@media (max-width: $maxWidth) {
    .nav {
        margin: 2em 0;
    }
    .menu-item .icon {
        display: inline-block;
    }
    .menu-item-name {
        font-size: 80%;
    }
}

.nav-toggle {
    transform: translateY(0.4em);
}


